@charset "UTF-8";
	#HMultileveNavigation{
		margin: 0px;
	  	padding: 0px;
		background-color: #b63b4d;
		float:none;
		width:auto;
	}
	#outUl{
		margin: 0px auto;
		padding: 0px;
		overflow: hidden;
		width:1200px;
		line-height: 54px;
		list-style-type: none;
		background-color: #b63b4d;
	}
	#outLi{
		display:inline-block;
		width:130px;
		text-align: center;
	}
	#outLi:hover{
		background-color: #8b1e2e;
	}
	#outLi a{
		color: #fff;
	}
	#outLi a:hover{
		text-decoration: none;
	}
	#inLi{
		text-align: center;
	}
	#inLi a{
		font-size:28px;
  		color: #fff;
  		text-decoration: none;
	}
	#inLi:hover:not(.active) {
		background-color: #8b1e2e;
	}
	#inUl{
		display: none;
	}
	#outLi:hover #inUl{
		display: block;
		position:absolute;
		background-color: #b63b4d;
	}
	#inUl #inLi{
		float: none;
		width: 130px;
	}